.main::-webkit-scrollbar {
    display: none;
}
.chart_main::-webkit-scrollbar {
    display: none;
}
/* =============== 頁面 =============== */
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* =============== 標題 =============== */
div.title {
    font-size: x-large;
    width: 100vw;
    background-color: #0a1120;
    color: #ffffff;
    padding: 10px 0px 10px 25px;
    position: fixed;
    height: 48px;
}


/* =============== 主內容(100vw) =============== */
div.content {
    width: 100vw;
    display: flex;
    background-color: #0f172a;
    color: #ffffff;
    position: absolute;
    top: 48px;
    height: calc(100vh - 48px);
    overflow: hidden;
}

/* ========== 選單(250px) ========== */
div.sidebar {
    background-color: #1e293b;
    width: 250px;
    height: 100%;
    overflow: hidden;
}

/* 月份選單 下拉選單 */
.chooseMonth {
    width: 80%;
    padding: 5px;
    display: block;
    font-size: large;
    margin: 20px auto;
    border-radius: 10px;
    background-color: dimgray;
}
/* 選擇年份 */
.changeYear {
    justify-self: center;
    text-align: center;
    display: flex;
    width: 90%;
    padding: 10px 0;
}
/* 選擇年份按鈕 */
.yearButton {
    background-color: transparent;
    color: #ffffff;
    font-size: x-large;
    border: none;
    cursor: pointer;
}
/* 選擇年份標籤 */
.yearLabel {
    font-size: x-large;
    flex: 1;
}

/* 隱藏radioButton的圓圈 */
.RBLChooseMonth input[type="radio"] {
    display: none;
}
/* 選擇月份 */
.RBLChooseMonth {
    display: grid; /* 表格顯示 */
    grid-template-columns: 1fr 1fr 1fr; /* 一行顯示三個，每個大小皆為 1fr(比例單位) */
    gap: 5px;
    width: 90%;
    padding: 12.5px;
}
    /* 選擇月份標籤 */
    .RBLChooseMonth label {
        border-radius: 5px;
        width: 90%;
        box-sizing: border-box;
        border: 2px solid #334155;
        color: #334155;
        text-align: center;
        margin: 2px;
    }
    /* 被選中的月份 */
    .RBLChooseMonth input[type="radio"]:checked + label {
        background: #334155;
        color: white;
    }
.changePage {
    width: 100%;
    height: 48px;
    font-size: larger;
    background-color:transparent;
    align-items: center;
    text-align:center;
    border: none;
    color: #ffffff;
}
    .changePage:hover {
        background-color: #2b3b54;
    }
/* ========== 中間(calc(100vw - 250px - 250px)) ========== */
div.main {
    width: calc(100vw - 250px - 250px);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    justify-items: center;
}
div.chart_main {
    width: calc(100vw - 250px - 40px);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px 20px 20px 20px;
    font-size: large;
    text-align: center;
    justify-items: center;
}
div.chart_month {
    display: flex;
    padding: 10px;
    width: 90%;
    height: auto;
    justify-content: center;
}
.small {
    width: auto;
    height: auto;
    padding: 10px;
    max-width: 384px;
    max-height: 384px;
    border-radius: 25px;
}
.biggg {
    width: calc((100vw - 250px - 50px) * 0.9);
    height: auto;
    display: block;
}
/* ===== 上部分 ===== */
div.top {
    width: 90%;
    font-size: large;
    margin: 20px 10px;
    display: grid; /* 表格顯示 */
    grid-template-columns: 1fr 1fr 1fr; /* 一行顯示三個，每個大小皆為 1fr(比例單位) */
    gap: 25px;
}
/* 內文 */
.top-text {
    width: 100%;
    height: auto;
    min-height: 90px;
    text-align: center;
    align-content: center;
    word-break: break-all; /* 溢出邊框的字元斷行 */
    overflow-wrap: break-word; /* 溢出邊框的字元斷行 */
}
/* 盒子 */
div.top-box {
    font-size: x-large;
    font-weight: 500;
    background-color: #1e293b;
    width: 1fr;
    height: auto;
    min-height: 100px;
    border-radius: 10px;
    padding: 15px;
}

/* ===== 分隔線 ===== */
.line {
    border: 0;
    height: 4px;
    background-color: #1e293b;
    margin: 20px 0;
    width: 90%;
}

/* ===== 下部分 ===== */
div.bottom {
    width: 90%;
}
/* === 根據日期產生的主要區塊 === */
.date {
    margin: 10px 0;
}
/* 日期標籤 */
.date-label {
    font-weight: bold;
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #09a5ff;
    padding-left: 10px;
}
/* === 根據當日明細產生的子區塊 === */
.record {
    background-color: #1e293b;
    align-items: center;
    display: flex;
    height: auto;
    border-radius: 10px;
    min-height: 50px;
    margin: 10px 0;
    padding: 10px;
    gap: 5px;
}
    /* 滑鼠在子區塊上 */
    .record:hover {
        background-color: #2b3b54;
    }
/* 類別顯示 */
.category {
    text-align: center;
    width: auto;
    min-width: 100px;
}
/* 備註顯示 */
.description {
    overflow-x: hidden;
    flex: 1;
}
/* 金額顯示 */
.amount {
    font-weight: bold;
    text-align: center;
    width: auto;
    min-width: 100px;
}
/* 按鈕顯示 */
.button {
    border: none;
    text-align: center;
    width: 100px;
}
.deleteButton {
    background-color: #b80404;
    color: white;
    border: hidden;
    border-radius: 5px;
    padding: 5px 10px;
}

/* =============== 右邊面板(250px) =============== */
div.right {
    background-color: #1e293b;
    justify-content: center;
    font-size: large;
    width: 250px;
    height: 100%;
    padding: 10px;
    overflow: hidden; /* 設為不可滑動 */
}

/* ========== 選擇收支 ========== */
.chooseType {
    background-color: #334155;
    justify-content: center;
    border-radius: 5px;
    display: flex;
}

    /* 讓圓形圈圈消失 */
    .chooseType input[type="radio"] {
        display: none;
    }
    /* 不知道為什麼1一定要在0前面。*/
    .chooseType label {
        display: block;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        padding: 5px 2vw;
    }
        /* "for"值最後結尾為"1"的label */
        .chooseType label[for$="1"] {
            margin: 5px 5px 5px 0;
            color: green;
        }
        /* "for"值最後結尾為"0"的label */
        .chooseType label[for$="0"] {
            margin: 5px 0 5px 5px;
            color: #b80404;
        }

    /* "for"值最後結尾為"1"的label，且被選中 */
    .chooseType input[type="radio"]:checked + label[for$="1"] {
        background: green;
        color: white;
    }

    /* "for"值最後結尾為"0"的label，且被選中 */
    .chooseType input[type="radio"]:checked + label[for$="0"] {
        background: #b80404;
        color: white;
    }

/* ========== 輸入資料 ========== */
div.form, .chooseCategory {
    max-width: 245px;
    width: auto;
}

    div.form input, .DDLChooseCategory {
        background-color: #334155;
        color-scheme: dark;
        color: #ffffff;
        font-size: large;
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        padding-inline-start: 15px;
        border: none;
        border-radius: 5px;
    }

/* ========== 動作按鈕 ========== */
div.actionButton {
    justify-content: center;
    display: flex;
    gap: 1.5vw;
}
    /* 按鈕樣式 */
    div.actionButton input {
        width: calc((20vw - 20px - 20px)/3);
        background-color: transparent;
        border-block-width: 3px;
        border: none;
        padding: 5px 0;
    }
        /* 取消按鈕 */
        div.actionButton input[id="cancel"] {
            background-color: dimgray;
            color: white;
        }
        /* 儲存按鈕 */
        div.actionButton input[id="save"] {
            background-color: green;
            color: white;
        }
