.main::-webkit-scrollbar {
    display: none;
}

/* 頁面 */
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

/* 標題(MAIN COLOR: #0f172a)*/
div.title {
    font-size: x-large;
    width: 100%;
    background-color: aquamarine;
    padding: 10px 0px 10px 25px;
    position: fixed;
    height: 48px;
}

/* 主內容(MAIN COLOR: #0f172a)*/
div.content {
    width: 100vw;
    display: flex;
    background-color: antiquewhite;
    position: absolute;
    top: 48px;
    height: calc(100vh - 48px);
    overflow: hidden;
}

/* 主內容-左邊 */
div.left {
    background-color: black;
    width: 10%;
    height: 100%;
    overflow: hidden;
}

/* 主內容-左邊-月份選單 */
.chooseMonth {
    width: 80%;
    padding: 5px;
    display: block;
    font-size: large;
    margin: 20px auto;
    background-color: dimgray;
}

/* 主內容-中間 */
div.main {
    background-color: #ff0000;
    width: 70%;
    height: 100%;
    overflow-y: auto; /* 垂直可滑動 */
    overflow-x: hidden;
}

/* 主內容-中間-上部分 */
div.top {
    background-color: #0f172a; /* MAIN COLOR */
    font-size: large;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: center;
    gap: 75px;
}
/* 主內容-中間-上部分-內文 */
.top-text {
    font-size: xx-large;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 90px;
}
/* 主內容-中間-上部分-盒子 */
div.top-box {
    background-color: #1E293B;
    color: #E2E8F0;
    padding: 15px;
    width: 100px;
    height: 100px;
}

/* 主內容-中間-下部分 */
div#main.bottom {
    background-color: #808080;
    padding: 25px;
    height: 100%;
}

/* 主內容-右邊(MAIN COLOR: #0f172a) */
div.right {
    background-color: #ff00ff;
    justify-content: center;
    width: 20vw;
    height: 100%;
    padding: 10px;
    overflow: hidden; /* 不可滑動 */
}

/* 主內容-右邊-選擇收支 */
.chooseType {
    background-color: #ffffff;
    justify-content: center;
    text-align: center;
    font-size: large;
    border-radius: 5px;
    padding: 7.5px;
    display: flex;
    width: 100%;
}

    /* 讓圓形圈圈消失 */
    .chooseType input[type="radio"] {
        display: none;
    }
    /* 不知道為什麼1一定要在0前面。*/
    .chooseType label {
        cursor: pointer;
        border-radius: 5px;
        padding: 7.5px 2.75vw 7.5px 2.75vw;
    }
        /* "for"值最後結尾為"1"的label */
        .chooseType label[for$="1"] {
            margin: 10px 10px 10px 0;
            color: green;
        }
        /* "for"值最後結尾為"0"的label */
        .chooseType label[for$="0"] {
            margin: 10px 0 10px 10px;
            color: red;
        }

    /* "for"值最後結尾為"1"的label，且被選中 */
    .chooseType input[type="radio"]:checked + label[for$="1"] {
        background: green;
        color: white;
    }

    /* "for"值最後結尾為"0"的label，且被選中 */
    .chooseType input[type="radio"]:checked + label[for$="0"] {
        background: red;
        color: white;
    }

